*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.heading-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) , url(image/independence-monument.jpg); 
    background-position:center;
    background-size: cover;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.logo{
    margin-left: 50px;
    width: 100px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
    margin-right: 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #133125;
    font-size: 20px;
}

nav ul li a:hover{
  color: #45a049;
}

.checkbtn{
  font-size: 30px;
  color: #133125;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}
h1{
  margin-left: 50px;
    color: #fff;
    font-size: 60px;
}

#table-container{
    display: flex;
    justify-content: center;
    margin:50px;
  }
  
  #table-container caption{
    text-align: center;
    padding-bottom: 25px;
    font-size: 2.3em;
    font-weight: 400;
  }
  
  #table-container .ticket-prices{
    border: 5px solid #026670;
    width: 100%; 
    border-spacing: 0;
  }
  
  #table-container .ticket-prices th{
    padding: 10px;
    background-color: #026670;
    color: white;
  }
  
  #table-container .ticket-prices tbody tr{
    background-color: white;
  }
  
  #table-container .ticket-prices tbody td{
    padding: 10px;
    text-align: center;
  }
  
  #table-container .ticket-prices tbody tr:nth-of-type(even) { background-color:#eaeaea; } 
  
  .form-container {
    max-width: 800px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    flex: 0 0 48%;
    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
/* CSS style for popular destination */
#popularDes {
    text-align: center;
  }
  
  #popularDes h3{
    padding: 30px 0 30px 0;
    font-size: 2.3em;
  }
  
  /* grid style image gallery */
  #popularDes #gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 3.5em;
  }
  
  #popularDes #gallery img {
    border-radius: 5px;
    border: 1px solid black;
    width: clamp(240px,100%,240px); /* Make sure images don't exceed their container */
  }

  #features-container {
    margin: 20px;
    text-align: center; /* Center the text within the container */
  }
  
  #features-container h1 {
    color: #133125;
    font-size: 2.3em;
    padding-bottom: 25px;
  }
 
  
  #bus-features {
    width: 80%;
    margin: 0 auto; /* Center the grid horizontally */
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 2em;
    justify-content: center; /* Center the grid items horizontally */
  }
  
  #bus-features span {
    font-size: 80px;
  }
  
  #bus-features p{
    padding-top: 10px;
    font-size: 1.3em;
    font-weight: 500;
    color: #026670;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  
  
  
  
  .footer {
    padding: 20px;
    background-color: #026670;
    color: #fff;
    text-align: center;
  }
  
  /* Style the links in the footer */
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  
  @media only screen and (max-width: 920px) {
    #popularDes #gallery {
      grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
    }
  
    #table-container .ticket-prices{
      width: 560px; 
    }
    #bus-features {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns as needed */
    }

    .checkbtn{
      display: block;
    }

    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #fff;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5S;
    }
    nav ul li{
      display: block;
      margin: 30px;
    }
    nav ul li a{
      font-size: 20px ;
      
    }
    #check:checked ~ ul{
      left:0;
    }
}