*{
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
}

:root {
  --blue-gray: #6699ccff;
  --maize: #fff275ff;
  --bittersweet: #ed6a5aff;
  --outer-space: #404e4dff;
  --emerald: #06d6a0ff;
}


body{
  background-color: #EDEAE5;
}

/* Header container CSS style */
header {
  background-color: #026670;
  text-align: center;
  font-size: 1.2em;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    width: clamp(800px,60%,800px); /*Adjustable navigation bar */
  }

  ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  
.logo {
  width: clamp(130px, 8%,130px); /* adjust the width to be fixed*/
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100%; /*The width fit the container*/
}

.headerlink{
    text-decoration: none;
    color: #FCE181;
}
/* end of header */

.landing{
  width: clamp(800px, 100%, max);
  background-image: url(/image/pexels-daniel-lazarov-2649167.jpg);
  /* Photo by Daniel Lazarov: https://www.pexels.com/photo/view-of-angkor-wat-in-cambodia-during-sunset-2649167/ */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
}

.landing-text{
  padding: 80px 0 25px 50px;
  color: #FCE181;
}
.landing h1{
  font-weight: 600;
  font-size: 3em;
  padding-bottom: 20px;
  color: #EDEAE5;
}

.landing p{
  font-size: 1.8em;
}
/* Form container for CSS style */
#form-containter{
  /* background-color: #026670; */
  display: flex;
  justify-content: center;
}

.landing #form{
  margin: 50px;
  color: black;
  background-color: #EDEAE5;
  padding: 25px;
  border: solid 1px white;
  border-radius: 10px;
  font-size: 1.3em;
  display: inline-block;
}

.landing #form button{
  font-size: 13.5px;
  width: 10em;
  height: 2em;
  background-color: #026670;
  border-radius: 10px;
  color: #FCE181;
}

.landing #form button:hover{
  background-color: #EDEAE5;
  color: #026670;
}
/* CSS style for popular destination */
#popularDes {
  text-align: center;
}

#popularDes h3{
  padding: 40px 0 30px 0;
  font-size: 1.5em;
}

#popularDes h3 span{
  border-bottom: 1px #026670 solid;
  color: #026670;
  font-weight: 100;
}
/* grid style image gallery */
#popularDes #gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 3.5em;
}

#popularDes #gallery img {
  border-radius: 5px;
  border: 1px solid black;
  width: clamp(240px,100%,240px); /* Make sure images don't exceed their container */
}
/* Table prices CSS styling */
#table-container{
  display: flex;
  justify-content: center;
  margin:50px;
}

#table-container caption{
  text-align: center;
  padding-bottom: 25px;
  font-size: 2em;
}

#table-container .ticket-prices{
  border: 5px solid #026670;
  width: 100%; 
  border-spacing: 0;
}

#table-container .ticket-prices th{
  padding: 10px;
  background-color: #026670;
  color: white;
}

#table-container .ticket-prices tbody tr{
  background-color: white;
}

#table-container .ticket-prices tbody td{
  padding: 10px;
  text-align: center;
}

#table-container .ticket-prices tbody tr:nth-of-type(even) { background-color:#eaeaea; }
/* feature container style */
#features-container {
  text-align: center; /* Center the text within the container */
}

#features-container h1 {
  font-size: 2.3em;
  padding: 25px 0 50px 0; /*padding for h1 */
}
#features-container h1 span{
  border-bottom: 1px #026670 solid;
  color: #026670;
  font-weight: 350;
}

#bus-features {
  width: 80%;
  margin: 0 auto; /* Center the grid horizontally */
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 2em;
  justify-content: center; /* Center the grid items horizontally */
}

#bus-features span {
  font-size: 80px;
}

#bus-features p{
  padding-top: 10px;
  font-size: 1.3em;
  font-weight: 500;
  color: #026670;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#about-page-container{
  padding: 40px 10px 40px 10px;
}

.about-us-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  background-color: white;
}

.about-us-text {
  flex: 1;
  padding: 20px;
}

.about-us-image {
  flex: 1;
  padding: 20px 0 20px ;
  text-align: right;
}

.about-us-heading{
  font-weight: 600;
  font-size: 2.5em;
  padding-bottom: 80px;
}

/* Style the About Us statement text */
.about-us-statement {
  font-size: 20px;
  line-height: 1.5;
}


.footer {
  padding: 20px;
  background-color: #026670;
  color: #fff;
  text-align: center;
}

/* Style the links in the footer */
.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #popularDes #gallery {
    grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
  }

  #table-container .ticket-prices{
    width: 560px; 
  }
  #bus-features {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns as needed */
  }
}

